package main

templ index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>go + templ + htmx</title>
		</head>
		<body>
			<form action="/" method="post">
				<input type="text" name="email"/>
				<input type="password" name="password"/>
				<button type="submit">Submit</button>
			</form>
		</body>
	</html>
}
